# Model inference

## Perkenalan

>Latar Belakang : 

Bank ingin lebih memahami perilaku dan kebiasaan pengguna kartu kredit, Bank ini mengumpulkan data pengguna kartu kredit selama 6 bulan tentang kebiasaan dan preferensi pengguna, yang dapat membantu bank dalam menyusun strategi pemasaran yang lebih efektif dan menyediakan layanan yang lebih sesuai dengan kebutuhan pelanggan. Kemudian bank ini memberikan data kepada saya yang seorang data science agar dapat mengkategorikan pengguna kartu kredit.

>Obejective :

Proyek ini ingin membangun model clustering untuk melakukan Customer Segmentation dari data kartu kredit bank ini. Dengan cara membuat `model clustering`  dengan K-MEANS sehingga nantinya bank dapat mengetahui lelompok-kelompok yang memiliki karakteristik perilaku yang serupa. Dengan demikian, bank dapat menyesuaikan strategi pemasaran dan layanan secara lebih spesifik sesuai dengan kebutuhan dan preferensi dari setiap segmen pelanggan.

## Import Libraries

In [1]:
# import library
import pandas as pd
import numpy as np
import pickle
import json
# agar tidak muncul warning
import warnings
warnings.filterwarnings("ignore")

## Load data

In [2]:
with open('model_scaler.pkl', 'rb') as file_1:
  model_scaler = pickle.load(file_1)

with open('model_pca.pkl', 'rb') as file_2:
  model_pca = pickle.load(file_2)

with open('model_km.pkl', 'rb') as file_3:
  model_km = pickle.load(file_3)

with open('num_col.txt','r') as file_4:
  num_col = json.load(file_4)

## Load data yang sudah di pisahakan untuk inference

In [3]:
#Create new data
df_inf = {'CUST_ID' : 1234, 
        'BALANCE' : 2000, 
        'BALANCE_FREQUENCY' : 0.5,
        'PURCHASES' : 700, 
        'ONEOFF_PURCHASES' : 1000, 
        'INSTALLMENTS_PURCHASES' : 0, 
        'CASH_ADVANCE' : 1,
        'PURCHASES_FREQUENCY' : 0.5,
        'ONEOFF_PURCHASES_FREQUENCY' : 0.5, 
        'PURCHASES_INSTALLMENTS_FREQUENCY' : 0.5,
        'CASH_ADVANCE_FREQUENCY' : 0.5,   
        'CASH_ADVANCE_TRX' : 0, 
        'PURCHASES_TRX' : 10, 
        'CREDIT_LIMIT' : 2000,  
        'PAYMENTS' : 500, 
        'MINIMUM_PAYMENTS' : 1000, 
        'PRC_FULL_PAYMENT' : 0, 
        'TENURE' : 12}

# dave ke dataframe
df_inf = pd.DataFrame([df_inf])
df_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,1234,2000,0.5,700,1000,0,1,0.5,0.5,0.5,0.5,0,10,2000,500,1000,0,12

## hanya memakai numerical kolom

In [4]:
# split between nimerical and categorical column
df_inf_num = df_inf[num_col]

# menampilkan kolom numerical
df_inf_num

,BALANCE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2000,700,1000,0,1,0,10,2000,500,1000,0,12

## Scaling dan PCA

In [5]:
# scalling
df_inf_num_scaled = model_scaler.transform(df_inf_num)

#PCA (reduksi dimensi)
df_inf_num_pca = model_pca.transform(df_inf_num_scaled)

## Melakukan prediksi

In [6]:
# predict using linear regression
df_pred = model_km.predict(df_inf_num_pca)

if df_pred == 0:
    print('Moderate Spenders')
elif df_pred == 1:
    print('High-Balance Spenders')
elif df_pred == 2:
    print('Frugal Spenders')
elif df_pred == 3:
    print('High-Volume Spenders')

Frugal Spenders

Prediksi dari data yang dimasukan menunjukkan : `Frugal Spenders` gaya hidup mewah yang dimiliki nasabah dengan saldo dan limit kredit sangat tinggi.